@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --color-primary: #1d1e22;
  --color-secondary: #58004a;
}
body {
  background-color: #e4fde1;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23454545' stroke-width='69.7' stroke-opacity='0.07' %3E%3Ccircle fill='%23E4FDE1' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23e1f7da' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23def0d3' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23dbeacc' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23d8e4c5' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d5ddbe' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23d1d7b8' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23ced1b2' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23cbcbac' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23c8c4a6' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23c5bea0' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23c1b89b' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23beb296' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23baac91' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23b6a68c' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23b3a087' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23af9a82' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23AB947E' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 5vh;
}
button {
  all: unset;
  cursor: pointer;
  color: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}

#quote-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 80vw;
  min-height: 50vh;
  color: var(--color-primary);
  padding: 2rem;
  font-family: 'Rampart One', cursive;
  font-size: 7vw;
}

#author {
  align-self: flex-end;
  padding-top: 1rem;
  color: var(--color-secondary);
  padding-right: 10vw;
}

#new-quote {
  text-decoration: none;
}

#author,
#new-quote,
#tweet-quote {
  font-size: 5vw;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.btn {
  display: block;
  min-width: 48%;
  text-align: center;
  text-decoration: none;
}

#new-quote:hover,
#tweet-quote:hover {
  color: var(--color-secondary);
}

@media only screen and (min-width: 600px) {
  #quote-box {
    font-size: 5vw;
  }

  #author,
  #new-quote,
  #tweet-quote {
    font-size: 4vw;
  }
}
@media only screen and (min-width: 1024px) {
  #quote-box {
    font-size: 3vw;
    max-width: 70vw;
  }

  #author,
  #new-quote,
  #tweet-quote {
    font-size: 2vw;
  }
}
